body {
  background-color: #dadcfc;
  font-family: "Sono";
  font-size: 400;
}
section {
  width: 900px;
  margin: 100px auto;
}

h1 {
  font-size: 600;
}

div {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
}

img {
  width: 500px;
  height: 400px;
  display: none;
}
label {
  font-weight: 500;
  font-size: 36px;
}

label:hover + img {
  display: block;
}

/* input:hover {
  display: block;
} */

input:checked ~ img {
  display: block;
}
